@import 'variables';
@import 'mixins';

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  font-family: 'Lato', sans-sarif;
}

a {
  cursor: pointer;
  &.active {
    font-weight: bold;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $bg-color;
}

.page-header {
  margin-top: $big-spacing;
  margin-bottom: 0;
}

main {
  width: auto;
  min-width: $page-width;
  max-width: 60%;
  padding: 0 15px;
}
.container .text-muted {
  margin: $default-spacing 0;
}
.menu {
  a {
    margin: 0 $small-spacing 0 0;
  }
}

.area {
  @include clearfix;
}

.two-columns {
  float: left;
  width: 50%;
}

ul.two-columns, .area.two-columns ul {
  li {
    margin-right: 30px;
    line-height: 24px;
  }
}

ul.inline-items {
  display: flex;
  flex-wrap: wrap;
  li {
    width: auto;
    margin-right: $huge-spacing;
  }
}



@import 'resume';
