@import 'variables';
@import 'mixins';

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  font-family: 'Lato', sans-sarif;
}

a {
  cursor: pointer;
  &.active {
    font-weight: bold;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $bg-color;
}

.page-header {
  margin-top: $big-spacing;
  margin-bottom: 0;
}

main {
  &.container {
    @media (min-width: $mobile-width) {
      width: calc(100% - 270px);
      max-width: $page-width;
      margin-left: 270px;
    }
  }

  padding: 0 30px;
}
.container .text-muted {
  margin: $default-spacing 0;
}
.menu {
  a {
    margin: 0 $small-spacing 0 0;
  }
}

.area {
  @include clearfix;
}

div.two-columns {
  float: left;
  width: 50%;
}
.area.two-columns ul {
  li {
    margin-right: 30px;
    line-height: 24px;
  }
}

ul.two-columns {
  @include clearfix;
  list-style-type: none;
  padding-left: 0;

  li {
    line-height: 24px;
    margin-left: $big-spacing;
    margin-right: -$big-spacing;
    float: left;
    width: 50%;

    &:before {
      content: '\25CB';
      font-size: 13px;
      margin-right: 8px;
      color: black;
      font-weight: bold;
    }
  }
}

ul.inline-items {
  display: flex;
  flex-wrap: wrap;
  li {
    width: auto;
    margin-right: $huge-spacing;
  }
}



@import 'resume';
