$section-label-width: 150px;

.resume {
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: $sidebar-width;
    height: 100%;
    overflow: auto;
    background-color: $sidebar-bgcolor;
    padding-top: $big-spacing;
    @media (max-width: $mobile-width) {
      display: none;
    }

    .area {
      padding: $default-spacing;
      &.alt {
        background-color: $sidebar-alt-bgcolor;
      }
    }
    h2,h3 {
      text-align: left;
      margin-bottom: 0;
    }

    h3 {
      font-weight: bold;
      font-size: 16px;
      text-align: left;
    }

    div > {
      span {
        b {
          text-transform: uppercase;
        }
        a {
          float: right;
          @include clearfix;
        }
      }
    }

    .content {
      margin-left: -$big-spacing;
    }

    .resume-label, .resume-location {
      text-transform: uppercase;
      color: lighten($text-color, 10%);
      margin-left: $big-spacing;
      letter-spacing: 0.5px;
    }

    .links {
      ul { padding: 0; margin-right: -1.5rem; }
      li {
        display: block;
        width: 50%;
        padding: .5rem 1rem .5rem 2rem;
        line-height: 2rem;
        text-transform: uppercase;
        float: left;

        &.active {
          background-color: $sidebar-alt-bgcolor;
        }
      }
    }
  }

  .page-title {
    display: none;

    @media (max-width: $mobile-width) {
      display: block;
    }
  }

  h1, h2 {
    text-align: center;
  }

  h1 {
    margin-bottom: $tiny-spacing;
  }

  h2 {
    margin-top: $tiny-spacing;
    margin-bottom: $mega-spacing;
    font-size: 26px;
  }

  h3 {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    text-align: center;
    @media (min-width: $mobile-width) {
      text-align: right;
      margin-top: 0;
      margin-right: $big-spacing;
    }
  }

  h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: lighten($text-color, 10%);
    margin-left: $big-spacing;
    letter-spacing: 0.5px;

    &.header {
      background-color: darken(white, 5%);
      padding: $default-spacing;
      margin-left: 0;
      padding: $default-spacing $default-spacing $default-spacing $huge-spacing;
    }
  }

  .content .area:first-child h4 {
    margin-top: $tiny-spacing;
  }

  .notice {
    color: lighten($text-color, 50%);
  }

  .clear-filters {
    font-size: 13px;
    margin-left: $tiny-spacing;
    float: right;
    @include clearfix;
  }

  article {
    margin-top: 3rem;
    @media (max-width: $mobile-width) {
      margin-top: 0;
    }
  }

  section {
    clear: both;
    margin-bottom: $huge-spacing;

    .label {
      @media (min-width: $mobile-width) {
        float: left;
        width: $section-label-width;
      }
      color: $text-color;
    }

    .content {
      @media (min-width: $mobile-width) {
        border-left: 1px solid $sidebar-bgcolor;
        margin-left: $section-label-width;
      }

      ul {
        list-style-type: circle;
        li {
          font-size: 14px;
        }
      }
    }
  }
  section:after {
    clear: both;
  }

  .company {
    margin-left: $big-spacing;
    margin-bottom: $mega-spacing;

    h5 {
      font-size: 22px;
      color: black;
      padding: $tiny-spacing 0;

      .title {
        font-weight: bold;
        font-size: 18px;
        color: $lighter-text-color;
      }
      time {
        float: right;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: $tiny-spacing;
        color: $lighter-text-color;
      }
    }

    h4 {
      margin-left: 0;

      time {
        float: right;
      }
    }

    h6 {
      font-weight: bold;
      font-size: 12px;
      text-transform: uppercase;
      margin-top: $default-spacing;
      letter-spacing: 0.5px;
    }

    ul {
      padding-left: $big-spacing;

      li {
//        font-size: 14px !important;
      }
    }

    .project {
      border-left: $default-spacing solid $sidebar-bgcolor;
      margin-left: -$big-spacing;
      padding-left: $default-spacing;
      margin-bottom: $huge-spacing;
      > h4 {
//        margin-left: $big-spacing;
        margin-top: $big-spacing;
        span.type {
          display: block;
          font-size: 1.1rem;
        }

      }
      h4 + p {
        margin-left: $small-spacing;
      }


      span.tag, span.trail-tag{
        padding: 1px 2px;
        background-color: $tag-bg;
        border-radius: 3px;
        font-size: 12px;
        font-weight: normal;
      }

      span.trail-tag {
        margin: 0 3px;
      }
    }

    .project-details {
      p {
        margin-top: -$tiny-spacing;
      }
    }

  }

}
