$page-width: 800px;

$mobile-width: 768px;

// spacings:

$default-spacing: 15px;
$tiny-spacing: 5px;
$small-spacing: 10px;
$big-spacing: 20px;
$huge-spacing: 30px;
$mega-spacing: 40px;

// colors:

$text-color: #222;
$bg-color: #f5f5f5;
$link-color: #337AB7;
$gray: gray;

$sidebar-bgcolor: darken(white, 5%);
$sidebar-alt-bgcolor: darken(white, 9%);
