.company(ng-if='!$root.hideAllOnFilter || shouldShowCompany()')
  h5
    | {{company.company}}
    time(ng-if='company.startDate') {{company.startDate}} - {{company.endDate || 'Present'}}
    .title(ng-if='company.title') {{company.title}}
  div(ng-if='shouldShowCompany()')
    p(ng-if='company.summary') {{company.summary}}

    project(ng-repeat='project in company.projects', project='project', view='view')

  .notice(ng-if='!shouldShowCompany()')
    | This item is not relevant to {{$root.filterName()}}.
    //clear-filters
