.project(id='{{project.name}}', ng-if='!$root.hideAllOnFilter || shouldShowItem(project)')
  h4
    a(href="{{project.url}}") {{project.name}}
    time(ng-if='project.startDate') {{project.startDate}} - {{project.endDate}}
    span {{project.type}}
  .project-details
    div(ng-if='shouldShowItem(project)')
      p(ng-if='project.summary') {{project.summary}}

      tags-used(label='Roles', items='project.roles', type='role', ng-if="view === 'detailed'")
      tags-used(label='Technologies', items='project.skills', type='skill', ng-if="view === 'detailed'")

      div(ng-if="project.highlights && view === 'detailed' && (!$root.hideAllOnFilter || shouldShowGroup('highlights'))")
        h6 Highlights
        ul(ng-if='shouldShowGroup("highlights")')
          highlight(ng-repeat='item in project.highlights', item='item', ng-if='shouldShowItem(item)')
        .notice(ng-if='!shouldShowGroup("highlights")')
          | There are no {{$root.filterName()}} related highlights to show.
          clear-filters

      .samples(ng-if="project.samples && view === 'detailed'")
        h6 Code Samples
        ul.inline-items(ng-if="shouldShowGroup('samples')")
          li(ng-repeat='sample in project.samples')
            a(ng-click='setSample(sample)', ng-class="{active: sample === activeSample}") {{sample.name}}
        .code-sample(ng-if="activeSample")
          div(hljs, class="language-{{activeSample.language}}", language="{{activeSample.language}}" source="activeSample.code")
        .notice(ng-if='!shouldShowGroup(project, "samples")')
          | There are no {{$root.filterName()}} related samples to show.
          //clear-filters

    .notice(ng-if='!shouldShowItem(project)')
      | This project is not relevant to {{$root.filterName()}}.
      //clear-filters
