.team
  h5
    | {{team.name}}
    span.title(ng-if='team.title') , {{team.title}}
    span.date(ng-if='team.date') {{team.date}}
  div(ng-if='shouldShowTeam()')
    p(ng-if='team.summary') {{team.summary}}


    .project(ng-repeat='project in team.projects')
      h4
        a(href="{{project.url}}") {{project.name}}
        span {{project.type}}
      .project-details
        div(ng-if='shouldShowItem(project)')
          p(ng-if='project.summary') {{project.summary}}

          tags-used(label='Roles', items='project.roles', type='role')
          tags-used(label='Technologies', items='project.skills', type='skill')

          div(ng-if='project.highlights')
            h6 Highlights
            ul(ng-if='shouldShowGroup(project, "highlights")')
              highlight(ng-repeat='item in project.highlights', item='item', ng-if='shouldShowItem(item)')
            .notice(ng-if='!shouldShowGroup(project, "highlights")')
              | There are no {{filterName()}} related highlights to show.
              clear-filters

          .samples(ng-if='project.samples')
            h6 Code Samples
            ul.inline-items(ng-if="shouldShowGroup(project, 'samples')")
              li(ng-repeat='sample in project.samples')
                a {{sample.name}}
            .notice(ng-if='!shouldShowGroup(project, "samples")')
              | There are no {{filterName()}} related samples to show.
              clear-filters

        .notice(ng-if='!shouldShowItem(project)')
          | This project is not relevant to {{filterName()}}.
          clear-filters

  .notice(ng-if='!shouldShowTeam()')
    | This item is not relevant to {{filterName()}}.
    clear-filters
