html(ng-app='app', ng-controller='AppController')
  head
    meta(charset='utf-8')
    title Resume Demo
    meta(name='description', content='')
    meta(property='og:description', content='')

    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-title', content='Resume Demo')
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='mobile-web-app-title', content='Resume Demo')

    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    <!-- build:css /styles/vendor.css -->
    <!-- bower:css -->
    link(rel='stylesheet', href='../../bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='../../bower_components/highlightjs/styles/default.css')
    <!-- endbower -->
    <!-- endbuild -->

    link(href='http://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700,300|Montserrat' rel='stylesheet' type='text/css')

    <!-- build:css(build/dev) /styles/app.css -->
    <!-- inject:css -->
    link(rel='stylesheet', href='/styles/app.css')
    <!-- endinject -->
    <!-- endbuild -->

    // FAVICON
    link(rel='shortcut icon', href='/images/favicon.ico', type='image/x-icon')
    link(rel='icon', href='/images/favicon.ico', type='image/x-icon')

    base(href='/')
  body
    main.container(ui-sref="resume")
      .page-header
        .menu
          a(ui-sref="resume") Resume
          a(ui-sref="about") About

      div(ui-view="guest")

    //footer
    //  .container
    //    p.text-muted Made with love.

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    //script(src='../../bower_components/jquery/dist/jquery.js')
    script(src='../../bower_components/angular/angular.js')
    script(src='../../bower_components/angular-sanitize/angular-sanitize.js')
    script(src='../../bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='../../bower_components/highlightjs/highlight.pack.js')
    script(src='../../bower_components/angular-highlightjs/angular-highlightjs.js')
    script(src='../../bower_components/angular-scroll/angular-scroll.js')
    //script(src='../../bower_components/bootstrap/dist/js/bootstrap.js')
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js(build/dev) /scripts/app.js -->
    <!-- inject:js -->
    script(src='/scripts/app.js')
    <!-- endinject -->
    <!-- endbuild -->
