.resume
  .sidebar.top

  .sidebar.bottom
    .area(scroll)
      h2 {{resume.basics.name}}
      .content
        .resume-label(ng-if='resume.basics.label') {{resume.basics.label}}
        .resume-location(ng-if='resume.basics.location') {{resume.basics.location.city}}, {{resume.basics.location.region}}

    .area.links
      h3 About Me
      .content
        ul
          li(ng-if='resume.basics.highlights'): a(ng-click="goto('highlights')") Highlights
          li(ng-if='resume.roles'): a(ng-click="goto('roles')") Roles
          li(ng-if='resume.skills'): a(ng-click="goto('skills')") Skills
          li(ng-if='resume.markets'): a(ng-click="goto('markets')") Markets
          li(ng-if='resume.work || resume.projects'): a(ng-click="goto('experience')") Experience
          li(ng-if='resume.interests'): a(ng-click="goto('interests')") Interests
          li(ng-if='resume.goals'): a(ng-click="goto('goals')") Goals
          li(ng-if='resume.articles'): a(ng-click="goto('articles')") Articles
          li(ng-if='resume.basics.profiles'): a(ng-click="goto('social')") Social

    .area.links
      h3 View
      .content
        ul
          li(ng-class="{active: view === 'detailed'}"): a(ng-click="view = 'detailed'") Detailed
          li(ng-class="{active: view === 'simple'}"): a(ng-click="view = 'simple'") Simple

    .area(ng-class="{alt: hasActiveFilter()}")
      h3 Filter
      div(ng-hide="hasActiveFilter()")
        | Click a role or skill to filter content.
      div(ng-show="hasActiveFilter()")
        div(ng-if='filter.role')
          span
            b Role:
            a(ng-click='filter("role", filter.role)') remove
          div {{tagLabel(filter.role)}}

        div(ng-if='filter.skill')
          span
            b Skill:
            a(ng-click='filter("skill", filter.skill)') remove
          div {{tagLabel(filter.skill)}}

        .content(ng-if="filteredProjects")
          h4 Related Experience:
          ul
            li(ng-repeat='project in filteredProjects')
              a(ng-click="goto(project.name)") {{project.name}}

    //.area.alt
    //  h3 View
    //  ul.inline-items.content
    //    li Resume
    //    li: a Coversheet
    //.area
    //  h3 Personal Notes
    //  p You can leave notes here and they will persist between sessions.

  .page-header
    h1 About Me
  .page-title
    h1 {{resume.basics.name}}
    h2(ng-if='resume.basics.label') {{resume.bascis.label}}

  article
    resume-section#highlights(label='Highlights')
      ul
        li(ng-repeat='item in resume.basics.highlights') {{item}}

    resume-section#roles(label='Roles')
      .area
        .two-columns
          tags-list(category='primary', label='Primary', type='role')

        .two-columns
          tags-list(category='secondary', label='Secondary', type='role')


    resume-section#skills(label='Skills')
      .area
        tags-list(category='primary', label='Primary', ul-class='two-columns', type='skill')

      .area
        tags-list(category='secondary', label='Secondary', ul-class='inline-items', type='skill')

      .area
        tags-list(category='legacy', label='Throwback', ul-class='inline-items', type='skill')


    resume-section#experience(label='Experience')
      h4.header @Work
      company(ng-repeat='company in resume.work', company='company', view='view')

      div(ng-if='resume.sideProjects.length')
        h4.header @Home
        .company
          project(ng-repeat='project in resume.sideProjects', project='project', view='view')

    resume-section#interests(label='Interests', ng-if='resume.interests')
      .area(ng-repeat='area in resume.interests')
        h4 {{area.category}}
        ul.inline-items
          li(ng-repeat='item in area.items') {{item}}

    resume-section#goals(label='Goals', ng-if='resume.goals')
      .area(ng-repeat='area in resume.goals')
        h4 {{area.category}}
        ul
          li(ng-repeat='item in area.items') {{item}}

    resume-section#articles(label='Articles', ng-if='resume.articles')
      .area(ng-repeat='area in resume.articles')
        h4(ng-if="area.category") {{area.category}}
        ul
          li(ng-repeat='item in area.items')
            a(href="{{item.href}}", external) {{item.name}}

    //resume-section(label='Critique')
    //  .area
    //    h4 My Top 3 Strongest Traits
    //    ul.inline-items
    //        li Creative Problem Solver
    //        li Hard Worker
    //        li Fast Learner
    //
    //  .area
    //    h4 My Top 3 Weakest Traits
    //    ul.inline-items
    //        li Easy to Manage
    //        li Strong life/work balance
    //        li Highly Focused

    resume-section#social(label='Social', ng-if='resume.basics.profiles.length')
      ul.inline-items
        li(ng-repeat='profile in resume.basics.profiles')
          a(ng-href='profile.url', external) {{profile.network}}





