.resume
  .active-filters(ng-if='skill || role')
    h3 Active Filters
    div(ng-if='role')
      b Role:
      span {{tagLabel(role)}}
      a(ng-click='filter("role", role)') Remove
    div(ng-if='skill')
      b Skill:
      span {{tagLabel(skill)}}
      a(ng-click='filter("skill", skill)') Remove

  h1 {{resume.name}}
  h2(ng-if='resume.careerTitle') {{resume.careerTitle}}

  article
    resume-section(label='Summary')
      ul
        li(ng-repeat='item in resume.summary') {{item}}

    resume-section(label='Roles')
      .area
        .two-columns
          tags-list(category='primary', label='Primary', type='role')

        .two-columns
          tags-list(category='secondary', label='Secondary', type='role')


    resume-section(label='Skills')
      .area
        tags-list(category='primary', label='Primary', ul-class='two-columns', type='skill')

      .area
        tags-list(category='secondary', label='Secondary', ul-class='inline-items', type='skill')

      .area
        tags-list(category='legacy', label='Throwback', ul-class='inline-items', type='skill')


    resume-section(label='Projects')
      h4.header @Work
      team(ng-repeat='team in resume.teams | filter:{personal: false}', team='team')

      h4.header @Home
      team(ng-repeat='team in resume.teams | filter:{personal: true}', team='team')

    resume-section(label='Interests')
      .area
        h4 My Favorite Roles & Technologies
        ul.inline-items
          li Fullstack Web Development
          li Ruby
          li Ruby on Rails
          li Node.js
          li Docker
          li CoffeeScript
          li UX

      .area
        h4 Roles & Technologies I like to avoid
        ul.inline-items
          li Devops
          li PHP
          li Java

      .area
        h4 Roles & Technologies I want to learn or improve at
        ul.inline-items
          li Growth Hacking
          li Product Management
          li UX Design
          li Mobile Development
          li Flux/React
          li Xamarin based iOS Apps
          li Go
          li Elixir

      .area
        h4 Challenges that interest me the most
        ul.inline-items
          li Framework & Library Development
          li Recommendation/Matching Systems
          li Communication/Messaging Systems
          li Social Design
          li Micro-service Oriented Architecture

      .area
        h4 My Personal Interests & Hobbies
        ul.inline-items
          li Food
          li Health
          li Music
          li Bass Guitar
          li Video Games
          li Programming
          li Drones

    resume-section(label='Goals')
      .area
        h4 Career
        ul
          li Stay up-to-date with latest tech
          li Work on something that I would personally use
          li Build something that is innovative
          li Early Retirement

      .area
        h4 Work Environment
        ul
          li Non-corporate vibe
          li Passionate team
          li Modern equipment
          li Access to good food
          li Freedom to explore innovative solutions

    //resume-section(label='Critique')
    //  .area
    //    h4 My Top 3 Strongest Traits
    //    ul.inline-items
    //        li Creative Problem Solver
    //        li Hard Worker
    //        li Fast Learner
    //
    //  .area
    //    h4 My Top 3 Weakest Traits
    //    ul.inline-items
    //        li Easy to Manage
    //        li Strong life/work balance
    //        li Highly Focused

    resume-section(label='Social')
      ul.inline-items
          li: a Codewars
          li: a Stack Overflow
          li: a Quora
          li: a Github
          li: a Codepen
          li: a Twitter





